In [3]:
# !pip install pandas
import pandas as pd

dataRaw = pd.read_csv('TimeSeries.csv')
RawTS = dataRaw.copy()
print(RawTS.shape)
RawTS.head()

(509632, 11)

     v1    v2     v3   v4   v5   v6     v7     v8     v9    v10    v11
0 -2.00  1.51  10.14  0.0  0.0  0.0 -15.78 -22.31 -11.70 -13.57  92.95
1 -2.00  1.51  10.13  0.0  0.0  0.0 -16.86 -23.38 -10.31 -13.57  92.95
2 -2.00  1.51  10.13  0.0  0.0  0.0 -16.86 -23.38 -10.31 -13.57  92.95
3 -1.99  1.51  10.17  0.0  0.0  0.0 -16.86 -23.38 -10.31 -13.57  92.95
4 -1.99  1.51  10.17  0.0  0.0  0.0 -16.86 -23.38 -10.31 -13.57  92.95

In [4]:
labels = pd.read_csv('labelsTimeSeries.csv')
print(labels.shape)
labels.head()

(509632, 1)

   label
0      0
1      0
2      0
3      0
4      0